# Runtime dependencies for Docker builds.
# For local development, use: uv sync
flywheel-sdk>=20.0.0
keyring>=25.0.0
nacc-common@ https://github.com/naccdata/flywheel-gear-extensions/releases/download/nacc-common%2Fv3.1.0/nacc_common-3.1.0-py3-none-any.whl
python-dotenv>=1.0.0
